body {
	background-image: radial-gradient(white,white,white, red);
	cursor: url('cursor.png'),
}

.character {
	transform: scale(0.5);
	width: 300px;
	height: 300px;
	margin: 10px;
	margin-bottom: -130px;
	background: transparent;
	position: relative;
	float: left;
	z-index: 10002;

}
.W{
	top:120px;
}
.W:hover .rotateW {

	animation: rotateWprss 1s infinite linear;
	
}
.translateW{

}
#stroke64,#stroke65,#stroke66{
	transition: 800ms all;
}
.W:hover #stroke64{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.W:hover #stroke65{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.W:hover #stroke66{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.translateW {

	position: absolute;
	top: 60px;
	margin-top: -200px;
	
}
@keyframes rotateWprss{
	0%{

	}
	100%{
		transform: rotate(360deg);
	}
}

#stroke01 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 10px;
	position: absolute;
	transform: rotate(18deg);
	z-index: 1;


	/* uncomment for css transitions */
	 transition: all 400ms; 
}
/*#stroke01:hover{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);

}*/
#stroke01:active{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 31% 36%, 12% 43%, 84% 43%, 85% 28%);

}
#stroke02 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 61px;
	position: absolute;
	transform: rotate(-199deg);
	z-index: 1;


	/* uncomment for css transitions */
	 transition: all 400ms; 
}
#stroke02:hover{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
#stroke03 {
	width: 210px;
    height: 169px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 70px;
	top: 58px;
    position: absolute;
	transform: rotate(-64deg);
	z-index: 1;


	/* uncomment for css transitions */
	 transition: all 400ms ease; 
}
.A:hover #stroke02{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.A:hover #stroke03{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.A:hover #stroke01{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
#stroke04 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 0px;
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;


	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke05 {
	width: 250px;
	height: 200px;
	background: red;
	clip-path:  polygon(21% 34%, 31% 20%, 61% 19%, 78% 26%, 89% 37%, 93% 52%, 91% 68%, 81% 80%, 60% 90%, 40% 86%, 59% 87%, 78% 78%, 87% 67%, 89% 51%, 86% 41%, 75% 29%, 57% 23%, 37% 27%);
	left:70px;
	top:105px;
	position: absolute;
	transform: rotate(-1deg);
	z-index: 1;

	transition: all 400ms;
	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke06 {
	width: 200px;
	height: 190px;
	background: red;
	clip-path:  polygon(21% 34%, 31% 20%, 61% 19%, 78% 26%, 89% 37%, 93% 52%, 91% 68%, 81% 80%, 60% 90%, 40% 86%, 59% 87%, 78% 78%, 87% 67%, 89% 51%, 86% 41%, 75% 29%, 57% 23%, 37% 27%);
	left:80px;
	top:-20px;
	position: absolute;
	transform: rotate(-2deg);
	z-index: 1;

	transition: all 400ms;
	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke07 {
	width: 300px;
	height: 297px;
	background: red;
	clip-path:  polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
	left:70px;
	position: absolute;
	transform: rotate(8deg);
	z-index: 1;


	/* uncomment for css transitions */
	 transition: all 400ms; 
}
#stroke08 {
	width: 210px;
    height: 169px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 100px;
	top: -31px;
    position: absolute;
	transform: rotate(-105deg) scaleX(-1);
	z-index: 1; 
	transition: all 400ms; 
}
.C:hover #stroke07{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.C:hover #stroke08{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}

#stroke09 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;


	/* uncomment for css transitions */
	 transition: all 400ms ease; 
}
}
.D:hover #stroke09{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.D:hover #stroke10{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.D:hover #stroke11{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
#stroke10 {
    width: 210px;
    height: 197px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 80px;
    top: -20px;
    position: absolute;
    transform: rotate(-51deg) scaleX(-2);
    z-index: 1;
    transition: all 400ms; 
}
#stroke11 {
    width: 213px;
    height: 217px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 102px;
    top: 78px;
    position: absolute;
    transform: rotate(34deg) scaleX(-2);
    z-index: 1;
    transition: all 400ms; 
}
#stroke12 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms; 


	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke13 {
    width: 210px;
    height: 179px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 104px;
    top: -50px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
}
#stroke14 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 84px;
    top: 70px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
}
#stroke15 {
    width: 210px;
    height: 190px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 117px;
    top: 160px;
    position: absolute;
    transform: rotate(-91deg) scaleX(1);
    z-index: 1;
    transition: all 400ms;
}
#stroke16 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke17 {
    width: 210px;
    height: 179px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 104px;
    top: -50px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke18 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 84px;
    top: 70px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke19 {
	width: 300px;
	height: 292px;
	background: red;
	clip-path:  polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
	left:70px;
	position: absolute;
	transform: rotate(8deg);
	z-index: 1;
	transition: all 400ms;

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke20 {
	width: 210px;
    height: 169px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 100px;
	top: -40px;
    position: absolute;
	transform: rotate(-105deg) scaleX(-1);
	z-index: 1; 
	transition: all 400ms;
}
#stroke21 {
    width: 210px;
    height: 179px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 150px;
    top: 129px;
    position: absolute;
    transform: rotate(-165deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke22 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms; 

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke23 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 84px;
    top: 70px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms; 
}
#stroke24 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	left:100px;
	position: absolute;
	transform: rotate(180deg);
	z-index: 1;
	transition: all 400ms; 

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
.H:hover #stroke22{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.H:hover #stroke23{
	clip-path: polygon(20% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.H:hover #stroke24{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
#stroke25 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	left:20px;
	position: absolute;
	transform: rotate(180deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke26 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	left:30px;
	position: absolute;
	transform: rotate(180deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke27 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 64px;
    top: 144px;
    position: absolute;
    transform: rotate(131deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke28 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke29 {
    width: 210px;
    height: 249px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 70px;
    top: -42px;
    position: absolute;
    transform: rotate(-134deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke30 {
    width: 210px;
    height: 249px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 110px;
    top: 88px;
    position: absolute;
    transform: rotate(-44deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke31 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
/*	left: 400px;*/
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke32 {
    width: 210px;
    height: 219px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 100px;
    top: 148px;
    position: absolute;
    transform: rotate(-94deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke33 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: -70px;
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke34 {
    width: 300px;
    height: 300px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -40px;
    top: -10px;
    position: absolute;
    transform: rotate(-30deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke35 {
    width: 300px;
    height: 240px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 50px;
    top: -10px;
    position: absolute;
    transform: rotate(-145deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke36 {
    width: 300px;
    height: 270px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 90px;
    top: 30px;
    position: absolute;
    transform: rotate(-3deg) scaleX(-1);
    z-index: 1;
}
#stroke37 {
    width: 300px;
    height: 260px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -35px;
    top: 30px;
    position: absolute;
    transform: rotate(0deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke38 {
    width: 300px;
    height: 300px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -10px;
    position: absolute;
    transform: rotate(154deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke39 {
    width: 300px;
    height: 300px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 65px;
    position: absolute;
    transform: rotate(180deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke40 {
	width: 300px;
	height: 292px;
	background: red;
	clip-path:  polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
	left:70px;
	position: absolute;
	transform: rotate(8deg);
	z-index: 1;
	transition: all 400ms; 
}
#stroke41 {
    width: 300px;
    height: 292px;
    background: red;
    clip-path: polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
    left: 30px;
    position: absolute;
    transform: rotate(-172deg);
    z-index: 1;
    transition: all 400ms; 
}
.O:hover #stroke40{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.O:hover #stroke41{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.P:hover #stroke42{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.P:hover #stroke43{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.P:hover #stroke44{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.P:hover #stroke45{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.S:hover #stroke54{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.S:hover #stroke55{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.S:hover #stroke56{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.U:hover #stroke59{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.U:hover #stroke60{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.U:hover #stroke61{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.E:hover #stroke12{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.E:hover #stroke13{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.E:hover #stroke14{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.E:hover #stroke15{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.Y:hover #stroke70{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.Y:hover #stroke71{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.M:hover #stroke33{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.M:hover #stroke34{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.M:hover #stroke35{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.M:hover #stroke36{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.N:hover #stroke37{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.N:hover #stroke38{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.N:hover #stroke39{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.L:hover #stroke31{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.L:hover #stroke32{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.F:hover #stroke16{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.F:hover #stroke17{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.F:hover #stroke18{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.T:hover #stroke57{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.T:hover #stroke58{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.V:hover #stroke62{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.V:hover #stroke63{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.R:hover #stroke49{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.R:hover #stroke50{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.R:hover #stroke51{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.R:hover #stroke52{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}
.R:hover #stroke53{
	clip-path: polygon(97% 10%, 44% 19%, 2% 18%, 80% 26%, 39% 96%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
}

#stroke42 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke43 {
    width: 210px;
    height: 132px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 80px;
    top: -21px;
    position: absolute;
    transform: rotate(-62deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke44 {
    width: 213px;
    height: 106px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 102px;
    top: 78px;
    position: absolute;
    transform: rotate(34deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke45 {
    width: 213px;
    height: 106px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 52px;
    top: 78px;
    position: absolute;
    transform: rotate(74deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke46 {
	width: 300px;
	height: 275px;
	background: red;
	clip-path:  polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
	left:70px;
	position: absolute;
	transform: rotate(8deg);
	z-index: 1;
	transition: all 400ms;


	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}
#stroke47 {
    width: 300px;
    height: 275px;
    background: red;
    clip-path: polygon(44% 0%, 27% 7%, 18% 20%, 10% 38%, 9% 54%, 11% 68%, 15% 84%, 27% 95%, 44% 100%, 59% 100%, 64% 91%, 45% 95%, 30% 91%, 17% 80%, 13% 65%, 12% 52%, 13% 36%, 20% 21%, 28% 9%);
    left: 30px;
    position: absolute;
    transform: rotate(-172deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke48 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 124px;
    top: 210px;
    position: absolute;
    transform: rotate(-87deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke49 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke50 {
    width: 210px;
    height: 132px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 80px;
    top: -21px;
    position: absolute;
    transform: rotate(-62deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke51 {
    width: 213px;
    height: 106px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 102px;
    top: 78px;
    position: absolute;
    transform: rotate(34deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke52 {
    width: 213px;
    height: 106px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 52px;
    top: 78px;
    position: absolute;
    transform: rotate(74deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke53 {
    width: 210px;
    height: 179px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 124px;
    top: 130px;
    position: absolute;
    transform: rotate(-47deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke54 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 80px;
    top: -26px;
    position: absolute;
    transform: rotate(-105deg) scaleX(-2);
    z-index: 1;
    transition: all 400ms;
}
#stroke55 {
    width: 300px;
    height: 260px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 20px;
    top: 16px;
    position: absolute;
    transform: rotate(-35deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke56 {
    width: 210px;
    height: 169px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 80px;
    top: 154px;
    position: absolute;
    transform: rotate(75deg) scaleX(-2);
    z-index: 1;
    transition: all 400ms;
}
#stroke57 {
	width: 260px;
	height: 260px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: 30px;
	top:-130px;
	position: absolute;
	transform: rotate(90deg) scaleX(-1);
	z-index: 1;
	transition: all 400ms;
}
#stroke58 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left:20px;
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke59 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left:-10px;
	position: absolute;
	transform: rotate(180deg) scaleX(-1);
	z-index: 1;
	transition: all 400ms;
}
#stroke60 {
    width: 300px;
    height: 220px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 30px;
    top: 180px;
    position: absolute;
    transform: rotate(258deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke61 {
    width: 300px;
    height: 260px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 120px;
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke62 {
    width: 300px;
    height: 320px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -10px;
    top: -12px;
    position: absolute;
    transform: rotate(161deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke63 {
    width: 300px;
    height: 320px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 45px;
    top: -12px;
    position: absolute;
    transform: rotate(196deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke64 {
	width: 300px;
	height: 300px;
	background: red;
	clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
	left: -70px;
	position: absolute;
	transform: rotate(0deg);
	z-index: 1;
	transition: all 400ms;
}
#stroke65 {
    width: 300px;
    height: 300px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -40px;
    top: -10px;
    position: absolute;
    transform: rotate(-30deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke66 {
    width: 300px;
    height: 240px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 50px;
    top: -10px;
    position: absolute;
    transform: rotate(-145deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke67 {
    width: 300px;
    height: 270px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 90px;
    top: 30px;
    position: absolute;
    transform: rotate(-3deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke68 {
    width: 300px;
    height: 380px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 30px;
    top: -47px;
    position: absolute;
    transform: rotate(144deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke69 {
    width: 300px;
    height: 380px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: -26px;
    top: -47px;
    position: absolute;
    transform: rotate(215deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke70 {
    width: 300px;
    height: 240px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 30px;
    top: -15px;
    position: absolute;
    transform: rotate(163deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}
#stroke71 {
    width: 300px;
    height: 340px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 44px;
    top: -27px;
    position: absolute;
    transform: rotate(204deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke72 {
    width: 300px;
    height: 240px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 10px;
    top: -80px;
    position: absolute;
    transform: rotate(88deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke73 {
    width: 300px;
    height: 380px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 10px;
    top: -34px;
    position: absolute;
    transform: rotate(38deg);
    z-index: 1;
    transition: all 400ms;
}
#stroke74 {
    width: 300px;
    height: 240px;
    background: red;
    clip-path: polygon(47% 0%, 44% 9%, 42% 18%, 40% 26%, 39% 36%, 38% 50%, 38% 69%, 44% 100%, 48% 89%, 43% 71%, 42% 68%, 41% 36%, 42% 23%, 44% 13%, 45% 8%);
    left: 10px;
    top: 170px;
    position: absolute;
    transform: rotate(-92deg) scaleX(-1);
    z-index: 1;
    transition: all 400ms;
}

/* uncomment for css transitions */

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/